
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /gdg-lauro/gdg-lauro-wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /gdg-lauro/gdg-lauro-wordpress/index.php [L]
</IfModule>

# END WordPress